* {
    --primary: #885d5d;
    --dark: #080707;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    ;
}

html {
    box-sizing: border-box;
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.4;
    background: var(--primary);
    margin: 20px 20px;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: var(--light);
    background: var(--dark);
    padding: 0.8rem 1.1rem;
    margin: 0;
}

.btn:hover {
    color: var(--dark);
    background: var(--primary);
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--light);
    color: var(--dark);
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
    box-shadow: var(--shadow);
    font-size: 1.1rem;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(Projects/practice/image/Work/images/gray_painted_apartmant.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    margin-top: 0;
    color: var(--light);
    font-size: 1.3rem;
}

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--light);
    padding: 1.5rem;
    box-shadow: var(--shadow);
}

.top-box .price {
    font-size: 1.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    text-align: center;
    background: var(--light);
    padding: 0.8rem 1.2rem;
    box-shadow: var(--shadow);
}

.info {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    background: var(--light);
    padding: 2.5rem;
    box-shadow: var(--shadow);
}

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

.footer {
    text-align: center;
    background: var(--dark);
    color: var(--light);
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas: 'showcase' 'showcase' 'top-box-a' 'top-box-b';
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas: 'showcase' 'showcase' 'top-box-a' 'top-box-b';
    }
}